// Couleurs des boutons de la Toolbar
.capitainewp-toolbar-advice {
  color: #83bd71;
}

.capitainewp-toolbar-warning {
  color: #ffc334;
}

.capitainewp-toolbar-avoid {
  color: #ff2952;
}

.capitainewp-toolbar-info {
  color: #48add8;
}
